
//@import 'var';
@font-face {
  font-family: 'StratosSkyeng';
  src: url(/fonts/Stratos-Regular.ttf) format('ttf'), url(/fonts/Stratos-Regular.woff) format('woff');
  font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
img {
    max-width: 100%;
    transition: all 1s;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #004980;
}
a {
   text-decoration: none;
}
// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//       -webkit-appearance: none;
//       margin: 0;
// }
// input[type=number] {
//     -moz-appearance: textfield;
//     appearance: textfield;
//     margin: 0;
//   }
.divMain {
  background-color: #004980;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px;
  height: 100vh;
}

.divContainer {
  width: 480px;
  height: 459px;
  background-color: #C2F5FF;
  border-radius: 12px;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 52px;
  padding-bottom: 52px;
  box-sizing:border-box;

  border: #000 1px;
  display: inline-block;
}

.divContainerText {
  display: flex;
  text-align: center;

  font-size: 40px;
  font-family: 'StratosSkyeng';
  color: #004980;
  font-weight: 400;
}

.divContainerLevel {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.divContainerLevelNumber {
  width: 97px;
  height: 98px;
  margin-top: 48px;

  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  font-weight: 400;
  font-size: 64px;
  color: #0080C1;
  font-family: 'StratosSkyeng';
}
.divContainerButton {
  margin-top: 67px;

  display: flex;
  justify-content: center;
}
.buttonStart {
  width: 246px;
  height: 48px;
  border-radius: 12px;
  border: none;

  font-family: 'StratosSkyeng';
  font-weight: 400;
  font-size: 24px;
  color: #ffff;

  background-color: #7AC100
}
// .buttonGames {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  column-gap: 32px;
//  padding-top: 128px;
//  padding-bottom: 1128px;
// }
// .game1 {
//   background-image: url('img/game1.jpg');
//   width: 379px;
//   height: 300px;
//   border-radius: 16px;
//   padding-left: 32px;
//   padding-top: 236px;
//   background-repeat: no-repeat;
//   box-sizing: border-box;
//   transition: all .3s;
//   &:hover {
//     border: 3px solid #44D2FF;
//     cursor: url('img/cursor1.svg'), auto;
//     }
// }

@import 'mobile';
